MDC_API_KEY="MDC_API_KEY"  # change to your MDC API Key
MDC_API_URL="https://datacollective.mozillafoundation.org/api"  # change to MDC API URL endpoint
MDC_DOWNLOAD_PATH="~/.mozdata/datasets"  # change to where you want to download datasets
